[Unit]
Description=Tresor personal secrets storage
After=network.target
Wants=network.target

[Service]
Type=simple
User=tresor
Group=tresor
ExecStart=/usr/bin/tresor-srv -c /etc/tresor/config.toml
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tresor-srv

NoNewPriviledges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/tresor /var/log/tresor

[Install]
WantedBy=multi-user.target
